@import '../../../App.css';

.header {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 2rem 10%;
  top: 0;
  left: 0;
  background: var(--secondary-bg-colour);
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--text-colour);
}

@media (min-width: 1050px) {
  .navbar a {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-colour);
    margin-left: 3rem;
    transition: 0.5s;
  }

  .navbar a:hover,
  .navbar a.selected {
    color: var(--other-colour);
  }

  .mobile-navbar {
    display: none;
  }

  #menu-icon {
    display: none;
  }
}

@media (max-width: 1050px) {
  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 83.6px;
    right: -100%;
    background-color: #131517;
    width: 35%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 101;
  }

  .mobile-navbar.show {
    right: 0;
  }

  .mobile-navbar a {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-colour);
    transition: 0.5s;
    text-align: center;
    margin-bottom: 1rem;
  }

  .mobile-navbar a:hover,
  .mobile-navbar a.selected {
    color: var(--other-colour);
  }

  #menu-icon {
    display: block;
    color: var(--text-colour);
    font-size: 3.5rem;
    cursor: pointer;
  }
}
