input.invalid {
    border-color: red !important;
}

input.valid {
    border-color: greenyellow !important;
}

a {
    color: #369FFF;
}

.dashboard-container {
    display: grid;
    grid-template-columns: .75fr 3fr 2fr;
    height: 100vh;
}

main {
    border-right: 4px solid #101111;
    padding: 40px 40px 0 40px;
}

.overview main .separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

main .separator .info {
    display: flex;
    align-items: center;
    gap: 30px;
}

main .separator .info h3 {
    font-size: 3rem;
}

main .separator .info a {
    font-size: 1.5rem;
}

.btn {
    margin: 0;
}

.btn {
    background: var(--other-colour);
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

main .separator .search {
    display: flex;
    align-items: center;
    gap: 14px;
}

main .separator .search i {
    font-size: 20px;
    color: #BDBDBD;
}

main .separator .search input {
    border: none;
    font-size: 14px;
    width: 80px;
    outline: none;
}

main .separator .search input::placeholder {
    color: #BDBDBD;
}

main .separator input {
    border: none;
    color: #369FFF;
    font-weight: bold;
    outline: none;
    width: 100px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.5;
    font-size: 16px;
    cursor: pointer;
}

.dashboard-container .right-section {
    padding: 40px 40px 0 40px;
}

.dashboard-container .right-section .separator#first {
    margin-top: 8px;
}

.dashboard-container .right-section .separator h4 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}