.right-section .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-section .top>i {
    color: #909090;
    position: relative;
    cursor: pointer;
    font-size: 24px;
}

.right-section .top>i::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background: #EB5757;
    border-radius: 50%;
    right: 0;
}

.right-section .top .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #131517;
    width: 244px;
    height: 60px;
    border-radius: 16px;
}

.right-section .top .profile>i {
    cursor: pointer;
}

.right-section .top .profile .left {
    display: flex;
    gap: 15px;
}

.right-section .top .profile .left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.right-section .top .profile .left .user h5 {
    font-size: 14px;
    font-weight: 600;
}

.right-section .top .profile .left .user a {
    font-size: 12px;
}