@import '../../App.css';

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.form-container {
    padding: 2rem;
    width: 50rem;
    text-align: center;
}

.form-container h2 {
    margin: 0 0 20px;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
}

.form-container label {
    display: block;
    margin: 10px 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="text"],
.form-container input[type="date"],
.form-container textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid #35383e;
    background-color: #202225;
    border-radius: 5px;
    color: rgb(232, 230, 227);
}

#goals {
    margin: 10px 0;
}

.form-container button[id="submitBtn"] {
    display: block;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.form-container button[id="submitBtn"]:hover {
    background: #555;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    font-size: 1.5rem;
    color: rgb(252, 69, 69);
    margin-top: 1rem;
    min-height: 23px;
}

.form-container h1 {
    font-size: 4rem;
}

.form-container a {
    font-size: 2rem;
}

.form-container a {
    color: lightskyblue;
    font-size: 1.5rem;
}

.submitted-container h1 {
    font-size: 4rem;
}

.submitted-container p,
.submitted-container a {
    font-size: 2rem;
}

.submitted-container a {
    color: lightskyblue;
}

#verification-success {
    color: limegreen;
}

input.invalid {
    border-color: red !important;
}

input.valid {
    border-color: greenyellow !important;
}