.tasks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.tasks .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #131517;
  border-radius: 20px;
  position: relative;
}

.tasks .item .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tasks .item .left .completed {
  width: 35px;
  height: 35px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks .item .left .completed input[type="checkbox"] {
  height: 100%;
  width: 100%;
}

.tasks .item:nth-child(1) .left .completed {
  background: #d1e6f9;
}

.tasks .item .left .details h5 {
  font-size: 12px;
  font-weight: 600;
}

.tasks .item .left .details p {
  font-size: 12px;
  color: #bdbdbd;
}

.tasks .item > i {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.tasks .item .menu-button {
  cursor: pointer;
}

.item .context-menu {
  position: absolute;
  right: 25px;
  display: flex;
  flex-direction: column;
  background-color: #000000ec;
  border-radius: 10px;
  z-index: 100;
}

.item .context-menu button {
  color: white;
  background-color: transparent;
  padding: 5px 20px;
  font-size: 1.3rem;
}