.reminders {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
}

.reminders .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #131517;
    border-radius: 20px;
}

.reminders .item .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reminders .item .left .icon {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .reminders .item:nth-child(1) .left .icon {
    background: #D1E6F9;
}

.reminders .item:nth-child(1) .left .icon i {
    color: #369FFF;
}

.reminders .item:nth-child(2) .left .icon {
    background: #F9E5D2;
}

.reminders .item:nth-child(2) .left .icon i {
    color: #FF993A;
}

.reminders .item:nth-child(3) .left .icon {
    background: #E2EDD2;
}

.reminders .item:nth-child(3) .left .icon i {
    color: #8AC53E;
}

.reminders .item:nth-child(4) .left .icon {
    background: #F9F0D3;
}

.reminders .item:nth-child(4) .left .icon i {
    color: #FFD143;
} */

.reminders .item .left .details h5 {
    font-size: 12px;
    font-weight: 600;
}

.reminders .item .left .details p {
    font-size: 12px;
    color: #BDBDBD;
}

.reminders .item>i {
    cursor: pointer;
}